html,
body {
  margin: 0;
  padding: 0;
  background: #09090b;
  color: white;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
/* 🔥 marquee animation */

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.marquee {
  will-change: transform;
}
